.product {
  width: 99%;
  /* border: 1px solid gainsboro; */
  margin: 7px;
  /* margin-left: 1%;
margin-right: 1% !important; */
  border-radius: 8px;
  height: 54px;
  background-color: white;
}
.productWrapper {
  width: 100%;

}
.product_contain {
  display: flex;
  vertical-align: middle !important;
}
.product_imageDiv {
  width: 10%;
  text-align: center;
  height: fit-content;
}
.product_barcodeDiv {
  width: 24%;
  text-align: center;
  height: fit-content;
}
.product_barcode {
  vertical-align: middle;

}
.product_productNameDiv {
  width: 19%;
  text-align: center;
  height: fit-content;
}
.product_productCategoryDiv {
  width: 17%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: fit-content;
}
.product_productCategory { 
  width: fit-content;
  background-color: var(--orangestandard);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 10px;
 margin-top: 8%;
 height: fit-content;
}
.product_productPriceDiv {
  width: 12%;
  text-align: center;
  height: fit-content;
}
.product_productQtyDiv {
  width: 10%;
  text-align: center;
}
h5 {
  font-size: small;
  font-weight: 400;

}
.product_productDeleteDiv{
  width: 9%;
  text-align: center;
  vertical-align: middle !important;
  margin-top: 1.3%;
}
.product_deleteIcon{
  color:rgb(197, 27, 27);
  cursor:pointer
}